/* edit.css */
body {
    margin:auto;
    width: auto;
    height: auto;
    font-family: Arial, sans-serif;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/5278b973057517.5bfd226687bb7.jpg") ;
    background-size: cover;
    align-items: center;
   
    
}

h1 {
    text-align: center;
    color: black;

}

form {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 5vh;
    padding: 20px;
    border-radius: 5px;
    background-color: purple;
    color: black;
    border-radius:10px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
}

button:active {
    transform: translateY(1px);
}

.button-container {
    text-align: center;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}
.view-project-button{
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
