/* edit.css */
body {
    margin:auto;
    width: auto;
    height: auto;
    font-family: Arial, sans-serif;
    background-image: url("https://i.pinimg.com/736x/9a/14/b8/9a14b8b2c9494052fab98e31e76bb929.jpg") ;
    background-size: cover;
    align-items: center;
   
    
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
}

button:active {
    transform: translateY(1px);
}

.button-container {
    text-align: center;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}
.view-project-button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
